@using Domain.Entities;
@model IEnumerable<Offer>

@foreach (var offer in Model)
{
     @Html.DisplayFor(modelItem => offer.OfferId)
}

<a class="nav-link text-dark" asp-area="" asp-controller="Offer" asp-action="Create">Create</a>